{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "modules": "commonjs",
      "loose": true
    }],
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "modules": "commonjs",
          "loose": true
        }]
      ]
    }
  }
}